# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini

# Logs and databases
*.log
*.sqlite3

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Project specific
logs/
backups/
2025*.gsheet
