--
-- PostgreSQL database dump
--

\restrict CTfGhhTWbijlJmzvqhW7JngSVT7Whhydm4F3Eb6J6lCQxee4AlgogIuvJ0n8JK2

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: conceptos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conceptos (
    conceptoid integer NOT NULL,
    concepto character varying(100) NOT NULL,
    grupoid_fk integer,
    activa boolean DEFAULT true
);


ALTER TABLE public.conceptos OWNER TO postgres;

--
-- Name: conceptos_conceptoid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.conceptos_conceptoid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.conceptos_conceptoid_seq OWNER TO postgres;

--
-- Name: conceptos_conceptoid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.conceptos_conceptoid_seq OWNED BY public.conceptos.conceptoid;


--
-- Name: config_filtros_grupos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.config_filtros_grupos (
    id integer NOT NULL,
    grupo_id integer NOT NULL,
    etiqueta character varying(100) NOT NULL,
    activo_por_defecto boolean DEFAULT true
);


ALTER TABLE public.config_filtros_grupos OWNER TO postgres;

--
-- Name: config_filtros_grupos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.config_filtros_grupos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.config_filtros_grupos_id_seq OWNER TO postgres;

--
-- Name: config_filtros_grupos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.config_filtros_grupos_id_seq OWNED BY public.config_filtros_grupos.id;


--
-- Name: config_valores_pendientes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.config_valores_pendientes (
    id integer NOT NULL,
    tipo character varying(20) NOT NULL,
    valor_id integer NOT NULL,
    descripcion character varying(100),
    activo boolean DEFAULT true
);


ALTER TABLE public.config_valores_pendientes OWNER TO postgres;

--
-- Name: config_valores_pendientes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.config_valores_pendientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.config_valores_pendientes_id_seq OWNER TO postgres;

--
-- Name: config_valores_pendientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.config_valores_pendientes_id_seq OWNED BY public.config_valores_pendientes.id;


--
-- Name: cuentas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cuentas (
    cuentaid integer NOT NULL,
    cuenta character varying(50) NOT NULL,
    activa boolean DEFAULT true,
    permite_carga boolean DEFAULT true
);


ALTER TABLE public.cuentas OWNER TO postgres;

--
-- Name: cuentas_cuentaid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cuentas_cuentaid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cuentas_cuentaid_seq OWNER TO postgres;

--
-- Name: cuentas_cuentaid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cuentas_cuentaid_seq OWNED BY public.cuentas.cuentaid;


--
-- Name: facturas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.facturas (
    id integer NOT NULL,
    fecha date NOT NULL,
    nit character varying(20) NOT NULL,
    proveedor character varying(255) NOT NULL,
    factura character varying(50) NOT NULL,
    subtotal numeric(15,2) NOT NULL,
    iva numeric(15,2) NOT NULL,
    total numeric(15,2) NOT NULL,
    nombre_xml character varying(255),
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.facturas OWNER TO postgres;

--
-- Name: facturas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.facturas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.facturas_id_seq OWNER TO postgres;

--
-- Name: facturas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.facturas_id_seq OWNED BY public.facturas.id;


--
-- Name: grupos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.grupos (
    grupoid integer NOT NULL,
    grupo character varying(50) NOT NULL,
    activa boolean DEFAULT true
);


ALTER TABLE public.grupos OWNER TO postgres;

--
-- Name: grupos_grupoid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.grupos_grupoid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.grupos_grupoid_seq OWNER TO postgres;

--
-- Name: grupos_grupoid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.grupos_grupoid_seq OWNED BY public.grupos.grupoid;


--
-- Name: monedas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.monedas (
    monedaid integer NOT NULL,
    isocode character varying(10) NOT NULL,
    moneda character varying(50) NOT NULL,
    activa boolean DEFAULT true
);


ALTER TABLE public.monedas OWNER TO postgres;

--
-- Name: monedas_monedaid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.monedas_monedaid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.monedas_monedaid_seq OWNER TO postgres;

--
-- Name: monedas_monedaid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.monedas_monedaid_seq OWNED BY public.monedas.monedaid;


--
-- Name: movimientos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.movimientos (
    id integer NOT NULL,
    fecha date NOT NULL,
    descripcion character varying(100),
    referencia character varying(500),
    valor numeric(15,2),
    usd numeric(15,2),
    trm numeric(10,4),
    detalle text,
    monedaid integer,
    cuentaid integer,
    terceroid integer,
    grupoid integer,
    conceptoid integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.movimientos OWNER TO postgres;

--
-- Name: movimientos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.movimientos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.movimientos_id_seq OWNER TO postgres;

--
-- Name: movimientos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.movimientos_id_seq OWNED BY public.movimientos.id;


--
-- Name: reglas_clasificacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reglas_clasificacion (
    id integer NOT NULL,
    patron character varying(255) NOT NULL,
    tercero_id integer,
    grupo_id integer,
    concepto_id integer,
    tipo_match character varying(20) DEFAULT 'contiene'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.reglas_clasificacion OWNER TO postgres;

--
-- Name: reglas_clasificacion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reglas_clasificacion_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reglas_clasificacion_id_seq OWNER TO postgres;

--
-- Name: reglas_clasificacion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reglas_clasificacion_id_seq OWNED BY public.reglas_clasificacion.id;


--
-- Name: tercero_descripciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tercero_descripciones (
    id integer NOT NULL,
    terceroid integer NOT NULL,
    descripcion text,
    referencia text,
    activa boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.tercero_descripciones OWNER TO postgres;

--
-- Name: tercero_descripciones_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tercero_descripciones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tercero_descripciones_id_seq OWNER TO postgres;

--
-- Name: tercero_descripciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tercero_descripciones_id_seq OWNED BY public.tercero_descripciones.id;


--
-- Name: terceros; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.terceros (
    terceroid integer NOT NULL,
    tercero character varying(50) NOT NULL,
    activa boolean DEFAULT true
);


ALTER TABLE public.terceros OWNER TO postgres;

--
-- Name: terceros_terceroid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.terceros_terceroid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.terceros_terceroid_seq OWNER TO postgres;

--
-- Name: terceros_terceroid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.terceros_terceroid_seq OWNED BY public.terceros.terceroid;


--
-- Name: tipomov; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tipomov (
    tipomovid integer NOT NULL,
    tipomov character varying(50) NOT NULL,
    activa boolean DEFAULT true
);


ALTER TABLE public.tipomov OWNER TO postgres;

--
-- Name: tipomov_tipomovid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tipomov_tipomovid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tipomov_tipomovid_seq OWNER TO postgres;

--
-- Name: tipomov_tipomovid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tipomov_tipomovid_seq OWNED BY public.tipomov.tipomovid;


--
-- Name: conceptos conceptoid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conceptos ALTER COLUMN conceptoid SET DEFAULT nextval('public.conceptos_conceptoid_seq'::regclass);


--
-- Name: config_filtros_grupos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.config_filtros_grupos ALTER COLUMN id SET DEFAULT nextval('public.config_filtros_grupos_id_seq'::regclass);


--
-- Name: config_valores_pendientes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.config_valores_pendientes ALTER COLUMN id SET DEFAULT nextval('public.config_valores_pendientes_id_seq'::regclass);


--
-- Name: cuentas cuentaid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuentas ALTER COLUMN cuentaid SET DEFAULT nextval('public.cuentas_cuentaid_seq'::regclass);


--
-- Name: facturas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.facturas ALTER COLUMN id SET DEFAULT nextval('public.facturas_id_seq'::regclass);


--
-- Name: grupos grupoid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grupos ALTER COLUMN grupoid SET DEFAULT nextval('public.grupos_grupoid_seq'::regclass);


--
-- Name: monedas monedaid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monedas ALTER COLUMN monedaid SET DEFAULT nextval('public.monedas_monedaid_seq'::regclass);


--
-- Name: movimientos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimientos ALTER COLUMN id SET DEFAULT nextval('public.movimientos_id_seq'::regclass);


--
-- Name: reglas_clasificacion id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reglas_clasificacion ALTER COLUMN id SET DEFAULT nextval('public.reglas_clasificacion_id_seq'::regclass);


--
-- Name: tercero_descripciones id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tercero_descripciones ALTER COLUMN id SET DEFAULT nextval('public.tercero_descripciones_id_seq'::regclass);


--
-- Name: terceros terceroid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.terceros ALTER COLUMN terceroid SET DEFAULT nextval('public.terceros_terceroid_seq'::regclass);


--
-- Name: tipomov tipomovid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipomov ALTER COLUMN tipomovid SET DEFAULT nextval('public.tipomov_tipomovid_seq'::regclass);


--
-- Data for Name: conceptos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: config_filtros_grupos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.config_filtros_grupos (id, grupo_id, etiqueta, activo_por_defecto) FROM stdin;
1	35	Excluir Pr├⌐stamos	t
2	46	Excluir Tita	t
3	47	Excluir Traslados	t
\.


--
-- Data for Name: config_valores_pendientes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.config_valores_pendientes (id, tipo, valor_id, descripcion, activo) FROM stdin;
1	tercero	196	Por identificar	t
2	grupo	34	Por Clasificar	t
3	concepto	310	Por Clasificar	t
\.


--
-- Data for Name: cuentas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cuentas (cuentaid, cuenta, activa, permite_carga) FROM stdin;
1	Ahorros	t	t
3	FondoRenta	t	t
4	Protecci├│n	t	t
5	Tarjeta Cr├⌐dito (Smart)	t	t
6	Mc Pesos	t	t
7	Mc Dolars	t	t
11	Test Carga Renamed	f	f
12	Test Carga	f	t
14	Test Carga a4c18de3 Renamed	f	f
8	Aportes	t	f
2	Efectivo	t	f
10	Otros	t	f
9	Saldos	t	f
15	Nu	t	f
\.


--
-- Data for Name: facturas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.facturas (id, fecha, nit, proveedor, factura, subtotal, iva, total, nombre_xml, fecha_creacion) FROM stdin;
\.


--
-- Data for Name: grupos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: monedas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.monedas (monedaid, isocode, moneda, activa) FROM stdin;
1	COP	Pesos	t
2	USD	Dolar	t
\.


--
-- Data for Name: movimientos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: reglas_clasificacion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reglas_clasificacion (id, patron, tercero_id, grupo_id, concepto_id, tipo_match, created_at) FROM stdin;
1	Abono Intereses Ahorros	22	4	23	contiene	2026-01-01 20:06:27.700684
2	Impto Gobierno	53	22	119	contiene	2026-01-01 20:06:27.700684
3	Traslado De Fondo	85	47	402	contiene	2026-01-01 20:06:27.700684
\.


--
-- Data for Name: tercero_descripciones; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: terceros; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tipomov; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tipomov (tipomovid, tipomov, activa) FROM stdin;
1	Egresos	t
2	Ingresos	t
3	Prestamos	t
4	Saldo	t
5	Traslado	t
\.


--
-- Name: conceptos_conceptoid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.conceptos_conceptoid_seq', 408, true);


--
-- Name: config_filtros_grupos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.config_filtros_grupos_id_seq', 9, true);


--
-- Name: config_valores_pendientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.config_valores_pendientes_id_seq', 3, true);


--
-- Name: cuentas_cuentaid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cuentas_cuentaid_seq', 15, true);


--
-- Name: facturas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.facturas_id_seq', 1, false);


--
-- Name: grupos_grupoid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.grupos_grupoid_seq', 52, true);


--
-- Name: monedas_monedaid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.monedas_monedaid_seq', 2, true);


--
-- Name: movimientos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.movimientos_id_seq', 1609, true);


--
-- Name: reglas_clasificacion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reglas_clasificacion_id_seq', 3, true);


--
-- Name: tercero_descripciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tercero_descripciones_id_seq', 371, true);


--
-- Name: terceros_terceroid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.terceros_terceroid_seq', 256, true);


--
-- Name: tipomov_tipomovid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tipomov_tipomovid_seq', 5, true);


--
-- Name: conceptos conceptos_grupoid_concepto_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conceptos
    ADD CONSTRAINT conceptos_grupoid_concepto_key UNIQUE (grupoid_fk, concepto);


--
-- Name: conceptos conceptos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conceptos
    ADD CONSTRAINT conceptos_pkey PRIMARY KEY (conceptoid);


--
-- Name: config_filtros_grupos config_filtros_grupos_grupo_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.config_filtros_grupos
    ADD CONSTRAINT config_filtros_grupos_grupo_id_key UNIQUE (grupo_id);


--
-- Name: config_filtros_grupos config_filtros_grupos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.config_filtros_grupos
    ADD CONSTRAINT config_filtros_grupos_pkey PRIMARY KEY (id);


--
-- Name: config_valores_pendientes config_valores_pendientes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.config_valores_pendientes
    ADD CONSTRAINT config_valores_pendientes_pkey PRIMARY KEY (id);


--
-- Name: config_valores_pendientes config_valores_pendientes_tipo_valor_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.config_valores_pendientes
    ADD CONSTRAINT config_valores_pendientes_tipo_valor_id_key UNIQUE (tipo, valor_id);


--
-- Name: cuentas cuentas_cuenta_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuentas
    ADD CONSTRAINT cuentas_cuenta_key UNIQUE (cuenta);


--
-- Name: cuentas cuentas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuentas
    ADD CONSTRAINT cuentas_pkey PRIMARY KEY (cuentaid);


--
-- Name: facturas facturas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.facturas
    ADD CONSTRAINT facturas_pkey PRIMARY KEY (id);


--
-- Name: grupos grupos_grupo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grupos
    ADD CONSTRAINT grupos_grupo_key UNIQUE (grupo);


--
-- Name: grupos grupos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grupos
    ADD CONSTRAINT grupos_pkey PRIMARY KEY (grupoid);


--
-- Name: monedas monedas_moneda_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monedas
    ADD CONSTRAINT monedas_moneda_key UNIQUE (moneda);


--
-- Name: monedas monedas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monedas
    ADD CONSTRAINT monedas_pkey PRIMARY KEY (monedaid);


--
-- Name: movimientos movimientos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimientos
    ADD CONSTRAINT movimientos_pkey PRIMARY KEY (id);


--
-- Name: reglas_clasificacion reglas_clasificacion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reglas_clasificacion
    ADD CONSTRAINT reglas_clasificacion_pkey PRIMARY KEY (id);


--
-- Name: tercero_descripciones tercero_descripciones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tercero_descripciones
    ADD CONSTRAINT tercero_descripciones_pkey PRIMARY KEY (id);


--
-- Name: terceros terceros_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.terceros
    ADD CONSTRAINT terceros_pkey PRIMARY KEY (terceroid);


--
-- Name: terceros terceros_tercero_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.terceros
    ADD CONSTRAINT terceros_tercero_key UNIQUE (tercero);


--
-- Name: tipomov tipomov_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipomov
    ADD CONSTRAINT tipomov_pkey PRIMARY KEY (tipomovid);


--
-- Name: tipomov tipomov_tipomov_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipomov
    ADD CONSTRAINT tipomov_tipomov_key UNIQUE (tipomov);


--
-- Name: facturas unique_factura; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.facturas
    ADD CONSTRAINT unique_factura UNIQUE (nit, factura);


--
-- Name: idx_tercero_descripciones_descripcion; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tercero_descripciones_descripcion ON public.tercero_descripciones USING btree (descripcion) WHERE (activa = true);


--
-- Name: idx_tercero_descripciones_referencia; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tercero_descripciones_referencia ON public.tercero_descripciones USING btree (referencia) WHERE ((referencia IS NOT NULL) AND (activa = true));


--
-- Name: idx_tercero_descripciones_terceroid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tercero_descripciones_terceroid ON public.tercero_descripciones USING btree (terceroid);


--
-- Name: conceptos conceptos_grupoid_fk_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conceptos
    ADD CONSTRAINT conceptos_grupoid_fk_fkey FOREIGN KEY (grupoid_fk) REFERENCES public.grupos(grupoid);


--
-- Name: movimientos fk_concepto; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimientos
    ADD CONSTRAINT fk_concepto FOREIGN KEY (conceptoid) REFERENCES public.conceptos(conceptoid);


--
-- Name: movimientos fk_cuenta; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimientos
    ADD CONSTRAINT fk_cuenta FOREIGN KEY (cuentaid) REFERENCES public.cuentas(cuentaid);


--
-- Name: movimientos fk_grupo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimientos
    ADD CONSTRAINT fk_grupo FOREIGN KEY (grupoid) REFERENCES public.grupos(grupoid);


--
-- Name: movimientos fk_moneda; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimientos
    ADD CONSTRAINT fk_moneda FOREIGN KEY (monedaid) REFERENCES public.monedas(monedaid);


--
-- Name: movimientos fk_tercero; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimientos
    ADD CONSTRAINT fk_tercero FOREIGN KEY (terceroid) REFERENCES public.terceros(terceroid);


--
-- Name: tercero_descripciones fk_tercero_master; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tercero_descripciones
    ADD CONSTRAINT fk_tercero_master FOREIGN KEY (terceroid) REFERENCES public.terceros(terceroid);


--
-- PostgreSQL database dump complete
--

\unrestrict CTfGhhTWbijlJmzvqhW7JngSVT7Whhydm4F3Eb6J6lCQxee4AlgogIuvJ0n8JK2

